.App {
  text-align: center;
}
#a {
  position: absolute;
  width : 400px;
  transform : translate(200%, 30%);
  background : rgba(240, 234, 234, 0.9);
  z-index: 0;
}
 
#TextColor{
font-style: normal;
color: #fff;
}

input[label="Username"]{
text-decoration: black;
}

#left{
  top: 2px; 
  text-align: center;
}

#Color{
  position: relative;
  width: auto;
  margin-top: 10px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(31, 29, 29, 0.8);
}
#Background{
  background-color: rgba(0,0,0,0);
  float: right;
  padding: 1%;
  border-spacing: 1%;
}

#float{
  float: right;
  position: absolute;
}

#Position1{
  align-items: stretch;
  transition: all 0.3s;
}

#Position{
  position: absolute;
  margin-top: -62px;
  width: 100px;
  height: 60px;
  background: rgba(0, 0, 0, 0.0);
}

#Heading{
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;
  font-size: 6ch; 
  color: #fff;
}

#Tagline{
  position: absolute;
  margin-top: 260px;
  margin-left: 150px;
  font-size: 5ch;
  quotes: """ """;
  color: #fff;
}

body {
  background-image: url('../assets/blockchain.jpg');
  
}
/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}



